/* Estilos para el body */
body {
    display: flex;
    flex-direction: column; /* Para incluir la barra superior */
    align-items: center;
    justify-content: flex-start; /* Asegura que el contenido se alinee desde la parte superior */
    min-height: 100vh;
    margin: 0;
    padding: 0; /* Elimina cualquier padding extra */
    background-color: #1471a3;
    font-family: Arial, sans-serif;
    color: white;
}

/* Barra de navegación */
.navbar {
    background-color: #003366; /* Azul oscuro */
    padding: 15px;
    text-align: center;
    width: 100%;
    position: sticky; /* La barra permanece visible en la parte superior al hacer scroll */
    top: 0;
    z-index: 1000;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade un ligero sombreado */
}

/* Opciones de navegación */
.nav-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-options li {
    display: inline;
}

.nav-options a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

/* Animación al pasar el cursor en la barra */
.nav-options a:hover {
    color: #ffcc00; /* Amarillo */
    transform: scale(1.1);
}

/* Contenedor principal */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #056ba2;
    border-radius: 10px;
    box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

/* Título */
#main-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Texto de instrucciones */
#main-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Botones de opciones verbales */
.verbal-options button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0298e8;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    width: 80%;
    max-width: 250px;
}

.verbal-options button:hover {
    background-color: #027bb8;
}

/* Botón de regreso */
#backButton {
    position: absolute;
    top: 60px;
    left: 40px;
    font-size: 40px;
    color: white;
    text-decoration: solid;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#backButton:hover {
    color: #dddddd; /* Color más claro al pasar el cursor */
}
